#freestyle .freestyle-video {
  border-radius: 8px;
  text-align: center;
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  width: 33.8vw;
  height: 19vw;

  @media screen and (max-width: 768px) {
    width: 80vw;
    height: 45vw;
    margin: 0 auto;
  }
}
