@import "../style-variables/colors";

#freestyle .freestyle-comment {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 768px) {
    gap: 6px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    color: $secondary;
    font-family: "Museo Extra Bold", sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__phone {
    font-size: 16px;
    line-height: 20px;
    color: #8E979F;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: #8E979F;
  }
}
