@import "../style-variables/colors";

#freestyle .freestyle-live {
  position: relative;
  background-color: #fc6b3f;
  padding: 55px 0 60px;
  overflow: hidden;

  &__title {
    font-family: "Museo Extra Bold", sans-serif;
    font-size: 88px;
    font-weight: 900;
    line-height: 88px;
    max-width: 1300px;
    margin: 0 auto;
    color: $white;

    @media screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 32px;
      max-width: 355px;
    }
  }
}
