#freestyle .freestyle-header {
  display: grid;
  grid-template-areas:
    "video experiment"
    "comments info"
    "comments form";
  grid-template-columns: 1fr 550px;
  column-gap: 110px;
  margin: 46px 0;

  @media screen and (max-width: 768px) {
    margin: 96px 0;
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas:
      "experiment"
      "video"
      "info"
      "form"
      "comments";
  }
}
