#freestyle .freestyle-header {
  column-gap: 110px;
  margin: 46px 0;

  @media screen and (max-width: 768px) {
    margin: 96px 0;
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas:
      "experiment"
      "video"
      "info"
      "comments";
  }

  &__container {
    display: grid;
    grid-template-areas:
      "video experiment"
      "video info"
      "comments comments";
    grid-template-columns: 600px 1fr;
    gap: 56px;
    background-color: $background;
    padding: 40px 40px 0;
    border-radius: 16px;
  }
}
